@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Hind+Vadodara:wght@300&family=Nunito:wght@700&display=swap');

html {
  background-color: #022C43;
}
#root {
  background-color: #022C43!important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-control {
  background-color: #e4c200!important;
  border: 1px solid #fee55a!important;
  color: #000000!important;
}

#nav-bar {
  background-color: #FFD700!important;
  /* color: #000000!important; */
}

#channel-sidebar {
  background-color: #053F5E!important;
  border: 1px solid #115173!important;
  height: 90vh;
  /* border-radius: 0!important; */
}

.channel-buttons {
  background-color: #053F5E!important;
  color: #ffffff!important;
  /* border-bottom: 1px solid #115173!important; */
  border: none!important;
  border-radius: 0!important;
  font-family: 'Nunito', sans-serif;
}

.channel-buttons:hover {
  color: #FFD700!important;
  transition: all .5s;
}

#channel-header {
  background-color: #022C43!important;
  border: 1px solid #115173!important;
  border-left: none!important;
}

#channel-name {
  text-decoration: none;
}

#channel-name:hover {
  color: #FFD700!important;
  transition: all .5s;
}

.channel-threads {
  background-color: #022C43!important;
  border-radius: 0!important;
  border: 1px solid #115173!important;
  border-left: none!important;
}

#channel-thread-list-group {
  border-radius: 0!important;
}

.auth-container {
  background-color: #053F5E!important;
  border: 1px solid #115173!important;
  border-radius: 5px!important;
}

.auth-header {
  text-align: center;
  margin-top: 1rem;
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  font-size: 2.5rem;
}

.auth-label {
  font-family: 'Nunito', sans-serif!important;
  color: #FFD700;
  font-size: 1.15rem;
}

.auth-control {
  font-family: 'Hind Vadodara', sans-serif!important;
  background-color: #022C43!important;
  border: 1px solid #115173!important;
}

.auth-submit {
  padding: .5rem 3rem!important;
  background-color: #FFD700!important;
  color: #000000!important;
  /* border: none!important; */
  border: 1px solid #FFD700!important;
  font-family: 'Nunito', sans-serif!important;
  font-size: 1.15rem!important;
}

.sign-in-control::placeholder {
  color: #ffffff!important;
}

#info-container {
  background-color: #022C43;
}

#info-card {
  background-color: #053F5E;
  border: 1px solid #115173!important;
  font-family: 'Hind Vadodara', sans-serif!important;
}

#info-header {
  color: #ffffff;
	text-decoration: none;
	font-family: 'Faster One';
	font-size: 3rem;
  border: 1px solid #115173!important;
  /* background-color: #115173; */
}

#info-body {
  border: 1px solid #115173!important;
  color: #ffffff;
}

#info-footer {
  border: 1px solid #115173!important;
  color: rgba(255, 255, 255, .2)!important;
  /* background-color: #115173; */
}

#info-username {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem!important;
  color: #FFD700;
}

.info-spans {
  color: #FFD700;
  font-size: 1.1rem;
  text-decoration: none!important;
}

#channel-search-form {
  width: 60%!important;
}

#channel-search {
  width: 100%!important;
  background-color: #FFD700!important;
  background-color: #e4c200!important;
  font-family: 'Nunito', sans-serif;
}

.dropdown-toggle {
  color: #000000!important;
  font-family: 'Nunito', sans-serif!important;
  font-size: 1.1rem!important;
  /* background-color: #FFD700!important; */
}

#navbar {
  font-family: 'Nunito', sans-serif!important;
  font-size: 1.1rem!important;
}

#my-channels-header {
  color:#ffffff;
  font-family: 'Nunito', sans-serif!important;
  margin: 0;
  font-size: 1.1rem;
  /* border: 1px solid #115173!important; */
}

#channel-header-sidebar {
  border-bottom: 1px solid #115173;
}

#create-channel-button {
  display: inline!important;
  font-family: 'Nunito', sans-serif!important;
  text-decoration: none!important;
  margin-left: .5rem;
  font-size: 1.5rem;
  color: #e4c200!important;
}

#profile-container {
  background-color: #022C43!important;
}

#profile-card {
  background-color: #053F5E;
  border: 1px solid #115173!important;
  color:#ffffff;
}

#profile-header {
  border: 1px solid #115173!important;
}

#profile-body {
  border: 1px solid #115173!important;
}

#sign-out-header {
  font-size: 2rem!important;
}

#sign-out-message {
  font-size: 1.25rem!important;
  color: #ffffff!important;
  text-align: center!important;
  font-family: 'Hind Vadodara', sans-serif!important;
}

#sign-out-cancel {
  background-color: #022C43!important;
  color: #ffffff!important;
  border: 1px solid #115173!important;
}

.dropdown-menu {
  background-color: #FFD700!important;
}

.dropdown-item:hover {
  background-color: #e4c200!important;
}
/* fix this later, not exactly what I'm going for, will work for now */
#channel-search:nth-child(n):hover {
  background-color: #FFD700!important;
}

#create-channel-container {
  background-color: #053F5E!important;
  padding: 1rem;
  border: 1px solid #115173!important;
  border-radius: 5px!important;
}

#show-channel-container {
  background-color: #053F5E!important;
  border: 1px solid #115173!important;
  border-radius: 5px!important;
  padding: 1rem;
}

#show-channel-name {
  font-family: 'Nunito', sans-serif!important;
  color: #FFD700;
}

#show-channel-description {
  font-family: 'Nunito', sans-serif!important;
  color: #ffffff;
  font-size: 1.25rem;
}

#show-channel-top-row {
  border-bottom: 1px solid #115173;
  /* margin-bottom: 1rem!important; */
}

#members-list-col {
  text-align: center;
  border-right: 1px solid #115173;
  padding: 1rem;
}

#add-members-col {
  text-align: center;
  padding: 0 1rem 1rem 1rem;
}

#members-list-header {
  font-family: 'Nunito', sans-serif!important;
  color: #ffffff;
  font-size: 1.2rem;
}

#add-members-header {
  font-family: 'Nunito', sans-serif!important;
  color: #FFD700;
  font-size: 1.2rem;
}

#show-channel-mid-row {
  border-bottom: 1px solid #115173;
  margin-bottom: 1rem;
}

.members-list-email {
  font-family: 'Hind Vadodara', sans-serif!important;
  color: #ffffff;
  margin: 0;
  padding: .15rem;
  border-bottom: 1px solid #115173;
  /* background-color: #022C43; */
}

#members-list-container {
  background-color: #022C43;
  border-radius: 5px;
  padding: .15rem 0;
  border: 1px solid #115173;
}

#members-list-container p:last-child {
  border: none;
}

#member-search-form .rbt-input-main{
  background-color: #022C43!important;
  border: 1px solid #115173!important;
}

#delete-channel-button {
  background-color: #022C43!important;
  border: 1px solid #115173!important;
  color: #ffffff!important
}

#edit-channel-modal {
  background-color: #022C43!important;
  border-radius: 5px!important;
}

#edit-channel-header {
  background-color: #022C43!important;
  border: 1px solid #115173!important;
  border-radius: 5px!important;
  color: #ffffff;
  font-family: 'Nunito', sans-serif!important;
  border-bottom: none!important;
  border-bottom-left-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

#edit-channel-body {
  background-color: #022C43!important;
  border: 1px solid #115173!important;
  border-radius: 5px!important;
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
}

#edit-channel-body .auth-control {
  color: rgba(255, 255, 255, .4)!important;
}