html {
  background-color: #212121;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nav-bar {
  background-color: #FFD700!important;
  /* color: #000000!important; */
}

#channel-sidebar {
  background-color: #053F5E!important;
  border: 1px solid #115173!important;
  /* border-radius: 0!important; */
}

.channel-buttons {
  background-color: #053F5E!important;
  color: #ffffff!important;
  /* border-bottom: 1px solid #115173!important; */
  border: none!important;
  border-radius: 0!important;
}

#channel-header {
  background-color: #022C43!important;
  border: 1px solid #115173!important;
}

#channel-name {
  text-decoration: none;
}

.channel-threads {
  background-color: #022C43!important;
  border-radius: 0!important;
  border: 1px solid #115173!important;
}

#channel-thread-list-group {
  border-radius: 0!important;
}